h1,
p {
  font-family: Lato;
}

.tabs {
  display: flex;
  border-bottom: 1px solid #d7dbdd;
}

.tab {
  cursor: pointer;
  padding: 5px 30px;
  color: aqua;
  font-size: 12px;
  border-bottom: 2px solid transparent;
}

.tab-selected {
  border-bottom-color: #4ebbe4;
}
